nav{
    width: 100%;
    /* background: #100101; */
    color: #fff;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    background-color: #d353c2fb;
}
.logo{
    width: 10;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
}
.dark-nav{
    background: #d353c2fb;
    transition: 0,8s;
}

/* ----- media query ---------*/

/* @media(max-width: 597px){
   nav{
    padding: 15px 0;
   }
   nav ul{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: #d353c2fb;
    z-index: -1;
    width: 100px;
    padding-top: 70px;
    transition: 0.5s;
   }
   nav ul li{
    display: block;
    margin: 25px 40px;
   }
    }  */
    
    

