.gallerys{
    margin: 60px auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.gallery img{
    width: 100%;
    
    border-radius: 10px;
    display: block;
   
}
.gallery{
    flex-basis: 30%;
    position: relative;
}

.caption{
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgb (0, 15, 152, o.4);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(0, 0, 0);
    cursor: pointer;
    opacity: 0;
    padding-top: 70%;
    transition: 0.4s;
    font-size: 30px;
    font-weight: 600;
    
}
.caption img{
    width: 60px;
    margin-bottom: 10px;
}
.gallery:hover .caption{
    opacity: 1;
    padding-top: 0;
}

/* ----- media query ---------*/

@media (max-width: 732px){
    .gallerys{
        flex-direction: column;
    }
    .gallery{
        flex-basis: 90%;
    }
} 

/* @media(max-width: 490px){
    .header{
        margin-top: 70px;
    }
    .header-text h1{
        
        max-width: 400px;
        margin: auto;
    }
    .header-text p{
        font-size: 14px;
        max-width: 400;
        margin: 15px auto 20px;
        
    }
} */