.gallery{
    margin: 80px auto;
    width: 90%;
    text-align: center; 
}
.galleryFotos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

}
.galleryFotos img{
    width: 23%;
    padding: 10px;
    border-radius: 20px;    
}
.btn-arrow{
    background-color: aquamarine;
    max-height: 10;
    text-align: center;
    
}